html,
body {
    width: 100%;
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
    position: relative;

}


.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}